body{
    overflow:hidden;
}
#main-container{
    width:100%;
    height:100%;
}
#background-image{
    position:absolute;
    width:100%;
    height:100%;
}

/* Loading Start*/
#loading-bar{
    position:fixed;
    width:100%;
    height:100%;
}

#bar-cont{
    position:absolute;
    width:250px;
    height:100px;
    left:calc(50% - 125px);
    top:calc(50% - 50px);
}
#bar-bottom{
    width:100%;
    height:100%;
    background-color:red;
}
#bar-text{
    width:100%;
    height:100%;
    position:absolute;
    text-align:center;
    top:0;
}
#bar-top{
    position:absolute;
    top:0px;
    width:1px;
    height:100%;
    background-color:lightblue;
}
/* Loading End*/

#HUD-container{
    top:0;
    width:100%;
    height:5%;
    background-color:#555;
    font-size:20px;
    border-bottom:1px solid black;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
#HUD-container div{
    font-size:20px;
    color:white;
    width:25%;
}
/* Story Start */
#text-content{
    font-size:1.5vw;
    top:10%;
    left:25%;
    position:absolute;
    width:50%;
    height:80%;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.8);
    overflow-y:auto;
}
#text-content-story{
    margin: 2.5% 2.5%;
    width:95%;
    color:black;
    font-family: "Times New Roman";
}

.page-choices{
    margin:0 auto;
    text-align:center;
    width:100%;
    font-family: "Verdana";
    border-radius:5px;
    border: 5px solid #555;
    border-style:outset;
}
.page-choice{
    color:#EEE;
    background-color:#555;
    width:100%;
    text-align:center;
    cursor:pointer;
    user-select:none;
    display:inline-block;
}
.page-choice span{
    font-size:1.3vw;
}
.page-choice:hover{
    background-color:#CCC;
}
/* Story End */
/* Locations Start*/
.big-box{
    position:absolute;
    background:#333;
    padding:10px;
    font-size:20px;
    border:2px solid black;   
}
.inner-box{
    background-color:#555;
    border:1px solid black;
}
#options-menu{
    width:50%;
    height:50%;
    top:20%;
    left:25%;
}
#options-cont{
    background-color:#555;
    width:100%;
    height:100%;
    user-select:none;
}
#options-cont > div{
    width:100%;
    height:7.1428%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#options-cont div > div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#options-cont > div:nth-child(odd){
    background-color:#999;
}
#options-cont > div:nth-child(even){
    background-color:#AAA;
}
#options-cont div input{
    width:50%;
    height:50%;
}
.options-cont-confirm-cont{
    height:14.2856% !important;
    color:#EEE;
    background-color:#555 !important;
}
.options-cont-confirm-cont div:hover{
    cursor:pointer;
    background-color:#CCC;
}
#options-cont-location{
    top:15%;
    right:5%;
    width:20%;
    height:40%;
}
.options-list{
    text-align:center;
}
.option, .option-title{
    color:#EEE;
    background-color:#555;
    width:100%;
    text-align:center;
    cursor:pointer;
    user-select:none;
    display:inline-block;
}
.option span, .option-title span{
    font-size:1.3vw;
}
.option:hover{
    background-color:#CCC;
}
.selected-option{
    background-color:#999;
}

/* Roster Section Start */
#status-characters-options{
    top:15%;
    left:5%;
    width:20%;
    height:40%;
}
#status-characters-options:empty {
   display: none;
}
#character-stats-display-cont{
    width:50%;
    height:40%;
    left:25%;
    top:15%;
    display: flex;
    text-align:center;
}
.char-stats-cont-main{
    width:50%;
    height:100%;
    border-right:none;
}
.char-stats-cont-second{
    width:50%;
    height:100%;
}
#equipable-gear-cont{
    width:400px;
    height:300px;
    left:50%;
    top:30%;
    position:absolute;
    background-color:#444;
    z-index:2;
    color:white;
}
.equip-gear-item{
    user-select:none;
}
.equip-gear-item:hover{
    background-color:#333;
    cursor:pointer;
}

.char-cont-name{
    background-color:grey;
    height:30%;
    padding:10px;
}
.char-cont-sprite{
    background-color:grey;
    
    height:40%;
}
.char-cont-equipment{
    background-color:grey;
    height:30%;
}
.char-cont-base-stats{
    background-color:grey;
    height:100%;
    width:100%;
}
.char-prop-large{
    color:white;
    font-size:18px;
}
.char-prop-medium{
    color:white;
    font-size:14px;
}
.char-prop-third{
    color:white;
    font-size:14px;
}
.char-prop-selectable{
    cursor:pointer;
    user-select:none;
}
.char-prop-selectable:hover{
    background-color:#666;
}
.base-stat-row{
    width:100%;
    height:33.33%;
}
.char-cont-polygon-cont{
    margin:0 auto;
    width:50%;
    height:50%;
}
.char-cont-polygon-spacer{
    height:25%;
    width:100%;
}
.char-cont-polygon-stat{
    color:white;
    position:absolute;
    z-index:1;
    text-align:center;
}
.char-cont-polygon-stat div{
    margin:0 auto;
}
.base-stats-polygon-background{
    position:absolute;
    background: linear-gradient(to top right, blue, teal);
}
.base-stats-polygon-foreground{
    position:absolute;
    background: linear-gradient(to bottom right, gold, red);
}

/* Roster Section End */
/* Buy Items Start */
#buy-items-cont{
    width:50%;
    height:50%;
    top:15%;
    left:25%;
}
.buy-items-title{
    color:white;
    text-align:center;
    font-size:30px;
    width:100%;
    height:10%;
}
#buy-items-list{
    width:100%;
    height:90%;
    background-color:#666;
}
#buy-items-list *{
    text-align:center;
}
.buy-items-item{
    cursor:pointer;
}
#buy-items-list tbody tr:hover{
    background-color:#888;
}
.buy-items-item div{
    display:inline-block;
}
.buy-items-item-selected{
    background-color:#888;
}
/* Buy Items End */

/* Locations End */
/* Battle Scene Start */
#dialogue-cont{
    position:absolute;
    width:100%;
    height:300px;
    bottom:300px;
}
#dialogue-cont div{
    display:inline-block;
}
#left-asset{
    
}
#right-asset{
    
}
#dialogue-text{
    
}

/* Battle Scene End */
/* Battle Start */
#leaderboard{
    position:absolute;
    width:400px;
    height:250px;
    left:calc(50% - 200px);
    top:calc(25% - 125px);
}
#leaderboard-next-button{
    width:100%;
    font-size:30px;
    text-align:center;
    background-color:crimson;
    cursor:pointer;
}
.leaderboard-title{
    text-align:center;
    font-size:30px;
    font-family:"Consolas";
    background: linear-gradient(to bottom right, gold, red);
}
.leaderboard-cont{
    background-color:grey;
}
.leaderboard-cont-itm{
    display:flex;
    text-align:center;
}
.leaderboard-cont-itm div:nth-child(1){
    flex-basis:50%;
}
.leaderboard-cont-itm div:nth-child(2){
    flex-basis:25%;
}
.leaderboard-cont-itm div:nth-child(3){
    flex-basis:25%;
}

/* Battle End */
#back-button{
    position:absolute;
    bottom:10px;
    left:10px;
    z-index:10000;
}
#back-button2{
    position:absolute;
    top:50px;
    left:10px;
}
#back-button3{
    position:absolute;
    top:90px;
    left:10px;
}