html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    overflow:hidden;
}
pre{
    white-space:pre-wrap;
}
#loading-screen{
    position:fixed;
    width:100%;
    height:100%;
}
#text-container{
    font-size:22px;
    top:10%;
    left:25%;
    position:absolute;
    width:50%;
    height:80%;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.8);
    overflow-y:auto;
}
#text-content{
    margin: 2.5% 2.5%;
    width:95%;
    color:black;
}
#text-content .story{
    font-size:20px;
    font-family:Verdana;
    text-indent: 25px;
    margin-left:20px;
    margin-right:20px;
}
#text-content .dialogue{
    font-size:20px;
    font-family:Palatino;
    font-style:italic;
    margin-left:50px;
}
.text-header-line{
    border: 32px solid transparent;
    border-image: url(../images/ui/text-bar.png);
    border-image-slice: 32;
    border-image-repeat: round;
    border-bottom:0;
}

.choice-list{
    list-style-type: none;
    width:80%;
    height:100%;
    margin-left:10%;
    border-radius:4px;
    border-left-style:solid;
    border-top-style:solid;
    font-family:Palatino;
    font-weight:bold;
}
.choice-list li{
    font-size:1.5vw;
    cursor: pointer;
    text-align:center;
    border-bottom-style:groove;
}
#back-button{
    position:absolute;
    top:10px;
    left:10px;
}
#back-button2{
    position:absolute;
    top:50px;
    left:10px;
}
#back-button3{
    position:absolute;
    top:90px;
    left:10px;
}

#dialogue-cont{
    width:100%;
    height:150px;
    bottom:0px;
    position:absolute;
    background-color:rgba(0,0,0,0.5);
}
#left-asset{
    position:absolute;
    top:-300px;
    left:0;
    width:200px;
    height:300px;
}
#right-asset{
    position:absolute;
    top:-300px;
    right:0;
    width:200px;
    height:300px;
}
#dialogue-text{
    color:white;
    margin:10px 10px;
    font-size:30px;
}

/* LOCATIONS MENU */
.selected-color{
    border-color:red !important;
}
.main-menu{
    position:absolute;
    top:20%;
    right:5%;
    width:20%;
    background:grey;
    border-width: initial;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding:10px;
}
.main-menu ul{
    list-style:none;
    padding:0;
}
.main-menu ul li{
    width:100%;
    border-width: initial;
    border-style: solid;
    border-color: black;
    border-image: initial;
    text-align:center;
    font-size:1vw;
}
.mid-cont{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:50%;
    color:white;
    font-size:1vw;
}
.left-cont{
    position:absolute;
    top:20%;
    left:5%;
    width:20%;
    background:grey;
    border-width: initial;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding:10px;
}
.left-cont ul{
    list-style:none;
    padding:0;
}
.left-cont ul li{
    width:100%;
    border-width: initial;
    border-style: solid;
    border-color: black;
    border-image: initial;
    text-align:center;
    font-size:40px;
}

.mid-box{
    background:grey;
    width:100%;
    height:100%;
}

.menu-input{
    width:100%;
    height:auto;
}

#equip-menu{
    width:100%;
    height:100%;
    background:grey;
    border:5px solid black;
}
#equip-menu-left{
    width:20%;
    height:100%;
    float:left;
}
#equip-menu-mid{
    width:30%;
    height:100%;
    float:left;
    font-size:22px;
}
#equip-menu-mid ul{
    height:100%;
    list-style:none;
    padding-top:10px;
}
#equip-menu-mid ul li{
    height:20%;
}
#equip-menu-right{
    width:50%;
    height:100%;
    float:left;
    font-size:22px;
}
#equip-menu-right ul{
    height:100%;
    list-style:none;
}
#equip-menu-right ul li{
    padding:11px;
    color:black;
    height:20%;
}
#equip-menu-right ul li select{
    width:100%;   
}