
.editor-left-menu{
    width:10%;
    height:100%;
    border-right:thick double;
    position:fixed;
    top:48px;
}

#disabled-select{
    float:left;
    width:50%;
    padding-left:15px;
    padding-right:15px;
    border-left:thick double;
    border-right:thick double;
    height:100%;
}
#actions{
    float:left;
    width:66.66%;
    padding-left:15px;
}

#choices{
    width:66.66%;
}
.disable{
    float:none;
}

.buy-item-cont{
    width:100%;
}
.item-type{
    width:22.5%;
    height:28px;
    display:inline-block;
}
.item-gear{
    width:22.5%;
    height:28px;
    display:inline-block;
}
.item-quality{
    width:22.5%;
    height:28px;
    display:inline-block;
}
.item-material{
    width:22.5%;
    height:28px;
    display:inline-block;
}
.add-item-button{
    width:100%;
    
}

.top-bar-btn div{
    margin:0;
}
.remove-choice{
    width:7.5%;
}