/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
        text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start my style */

:root {
    --background-color: lightgrey;
    --menu-background-color:orange;
    --menu-text-color:white;
    --menu-button-hover-color:lightgrey;
    --button-text-color:white;
    --button-background-color:#EEE;
    --button-hover-color:lightgrey;
    --content-button-text-color:white;
    --content-button-background-color:#EEE;
    --content-button-hover-color:lightgrey;
    --form-elm-text-color:black;
    --form-elm-background-color:white;
    --heading-font-family:"Helvetica";
    --heading-text-color:black;
    --heading-gradient-one:black;
    --heading-gradient-two:grey;
}

* {
    font-family: "Verdana";
}
textarea, input, select, option{
    font-family: "Helvetica";
    background-color: var(--form-elm-background-color);
    color: var(--form-elm-text-color);
}
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 90%;
    background-image: url(../images/greek-flag.jpg);
    background-size: 100% 100%;
    border-width: initial;
    border-style: solid;
    border-color: black;
    border-image: initial;
    background-repeat: no-repeat;
}
#main-content{
    top:5%;
    width:90%;
    height:85%;
    left:5%;
    position:absolute;
    font-size:0;
    border-radius:10px; 
    border:1px solid black;
    border-radius:10px 10px 0px 0px; 
}

#scene-title{
    display:inline-block;
    width:100%;
    height:7.5%;
    background: linear-gradient(to bottom right, var(--heading-gradient-one), var(--heading-gradient-two));
    border-radius:5px 5px 0px 0px;
}
#scene-title div{
    height:100%;
    font-size:5vh;
    text-align:center;
    font-family: var(--heading-font-family) !important;
    color:var(--heading-text-color);
    padding:6px;
}
#menu-cont{
    width:20%;
    height:92.5%;
    background-color:var(--menu-background-color);
    display:inline-block;
    vertical-align:top;
    border-left:1px solid black;
}

.menu-box{
    width:25%;
    height:calc(50% - 30px);
    overflow:auto;
    position:fixed;
    padding:10px;
    background-color:var(--menu-background-color);
    border:1px solid black;
}
.menu-button{
    width:100%;
    font-size:28px;
    padding:10px;
    text-align:center;
    user-select:none;
    cursor:pointer;
    background-color:var(--menu-background-color);
    color:var(--menu-text-color);
}
.menu-button:hover{
    background-color:var(--menu-button-hover-color);
}
.menu-button-modify{
    width:100%;
    height:50%;
}
.main-menu-background{
    display:inline-block;
    background-color:var(--background-color);
    height:92.5%;
    width:100%;
}

.category-button{
    width:100%;
    text-align:center;
    height:30px;
    line-height:30px;
    user-select:none;
    cursor:pointer;
    border-radius:2px 2px 0px 0px;
    padding:0;
    border:1px solid black;
    background-color:var(--button-background-color);
    color:var(--button-text-color);
}
.category-button:hover{
    background-color:var(--button-hover-color);
}
.main-menu-cont{
    position:absolute;
    background-color:var(--menu-background-color);
    height:auto;
    width:35%;
    left:32.5%;
    top:10%;
    border-radius:5px;
}

#editor-left-menu{
    width:10%;
    height:calc(100% - 60px);
    border-right:thick double;
    position:fixed;
    top:60px;
    overflow-y:auto;
    background-color:var(--menu-background-color);
}
/*
.character-cont{
    width:100%;
    height:30px;
    text-align:center;
    background-color:var(--content-button-background-color);
    color:var(--content-button-text-color);
}
.character{
    width:90%;
    display:inline-block;
    font-size:1.1vw;
    user-select:none;
    cursor:pointer;
    vertical-align:top;
    padding:10px;
    height:100%;
}*/
.menu-divider{
    width:100%;
    height:5%;
}

.btn {
    font-size: initial;
}
.remove-choice-deep{
    width:10%;
}

.choice-group-top{
    width:100%;
    height:30px;
}
.choice-group-top p{
    width:80%;
    float:left;
}
#editor-variables{
    /*max-height:40%;
    overflow-y:auto;*/
}
#editor-actions{
    /*height:60%;
    overflow-y:auto;*/
    margin-bottom:10px;
}


.var-button{
    width:100%;
    font-size:0;
    text-align:center;
    border:1px solid black;
    user-select:none;
    background-color:var(--content-button-background-color);
    color:var(--content-button-text-color);
}
.var-button *{
    display:inline-block;
    font-size:1.2vw;
    line-height:30px;
}
.var-value{
    width:100%;
    resize:vertical;
}
.var-remove{
    width:25%;
    height:30px;
}
.var-name{
    width:90%;
    height:30px;
}
.sub-title-text{
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:24px;
    background-color:var(--content-button-background-color);
    color:var(--content-button-text-color);
    user-select:none;
    display:inline-block;
    width:100%;
    vertical-align:top;
}

.title-text{
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:24px;
    font-family: var(--heading-font-family);
    background: linear-gradient(to bottom right, var(--heading-gradient-one), var(--heading-gradient-two));
    color:var(--heading-text-color);
    user-select:none;
    display:inline-block;
    width:100%;
    vertical-align:top;
}
/* Classes that are added to an element for visual cues*/
.selected{
    border-color:red !important;
}
.crossed{
    text-decoration: line-through;
}
/*
.light-gradient{
    font-family:"Calibri";
    background: linear-gradient(to bottom right, grey, white);
    color:#111;
}
.light-blue-gradient{
    font-family:"Calibri";
    background: linear-gradient(to bottom right, lightskyblue, #EEE);
    color:#111;
}
.medium-gradient{
    background: linear-gradient(to bottom right, #333, #999);
    color:#EEE;
}
.dark-gradient{
    background: linear-gradient(to bottom right, black, grey);
    color:#EEE;
}
*/
.thirty-height{
    height:30px;
}