body{
    width:100%;
    height:100%;
    background-color:var(--background-color);
}
#left-cont{
    width:33.33%;
    top:60px;
    position:absolute;
    left:0%;
    border:1px solid black;
}
#mid-cont{
    width:33.34%;
    top:60px;
    position:absolute;
    left:33.33%;
    border:1px solid black;
}
#right-cont{
    width:33.33%;
    top:60px;
    position:absolute;
    left:66.67%;
    border:1px solid black;
}
#char-classes-cont .UIC-group-item{
    padding:0;
    overflow:hidden;
}
.hud-buttons{
    width:100%;
    color:var(--button-text-color);
    background-color:var(--button-background-color);
    height:30px;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}
.hud-button:hover{
    
    background-color:var(--button-hover-color);
}
.group-item{
    text-align:center;
    cursor:pointer;
}
.gear-props{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding-left:10px;
    padding-right:10px;
}
.minimizer{
    cursor:pointer;
    background-color:var(--content-button-background-color);
}
.minimizer:hover{
    background-color:var(--content-button-hover-color);
}
.selected{
    color:var(--button-text-color);
    background-color:var(--button-hover-color);
}
.technique-args-cont:empty{
    display:none;
}
.technique-args-cont{
    padding:10px;
}
.technique-props{
    padding:10px;
    background-color:var(--menu-background-color);
    color:var(--menu-text-color);
}
.remove-choice{
    width:10%;
    display:inline-block;
    text-align:center;
}
.remove-arg{
    width:10%;
    display:inline-block;
    float:right;
    line-height:30px;
    user-select:none;
    text-align:center;
    cursor:pointer;
}
.remove-tech{
    width:10%;
    position:absolute;
    line-height:30px;
    user-select:none;
}
.remove-choice:hover, .remove-tech:hover, .remove-arg:hover{
    background-color:var(--button-hover-color);
}
