
.UIC-choice{
    border:1px solid black;
    border-radius:6px;
}
.UIC-group{
    width:95%;
    border:1px solid black;
    border-radius:6px;
    font-size:0;
    user-select:none;
    line-height:30px;
    background-color:var(--menu-background-color);
    margin:0 auto;
    margin-top:5px;
}
/*HUD START*/
.UIC-hud{
    text-align:center;
    height:30px;
}
.UIC-hud div{
    display:inline-block;
    font-size:1.2vw;
    background-color:var(--button-background-color);
    color:var(--button-text-color);
}
.UIC-hud-buttons div:hover{
    background-color:var(--button-hover-color);
    cursor:pointer;
}
/*HUD END*/
/*COND-EFFECT START*/

.UIC-hud-buttons{
    width:80%;
}

/* one item */
.UIC-hud-button:first-child:nth-last-child(1) {
    width: 100%;
}

/* two items */
.UIC-hud-button:first-child:nth-last-child(2),
.UIC-hud-button:first-child:nth-last-child(2) ~ .UIC-hud-button {
    width: 50%;
}

/* three items */
.UIC-hud-button:first-child:nth-last-child(3),
.UIC-hud-button:first-child:nth-last-child(3) ~ .UIC-hud-button {
    width: 33.3333%;
}

/* four items */
.UIC-hud-button:first-child:nth-last-child(4),
.UIC-hud-button:first-child:nth-last-child(4) ~ .UIC-hud-button {
    width: 25%;
}
.UIC-base-props{
    text-align:center;
    font-size:1vw;
    padding:5px;
}
.UIC-base-props:empty {
   display: none;
}

.UIC-base-props *{
    display:inline-block;
    height:30px;
    line-height:30px;
}

.UIC-conditions{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.UIC-group-cont{
    text-align:center;
    background-color:var(--menu-background-color);
    color:var(--menu-text-color);
}
.UIC-group-hud{
    width:100%;
    height:30px;
    border-bottom:1px solid black;
    font-size:0;
    text-align:center;
    background-color:var(--content-button-background-color);
}
.UIC-group-hud:hover{
    background-color:var(--content-button-hover-color);
    cursor:pointer;
}
.UIC-group-hud div{
    display:inline-block;
    font-size:1.2vw;
}
.UIC-group-minimize{
    width:10%;
}
.UIC-title{
    width:90%;
    font-size:1.2vw;
    height:30px;
}

.UIC-cont{
    width:100%;
    font-size:1vw;
}
.UIC-func{
    width:100%;
    height:30px;
}
.UIC-group-item{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    font-size:1vw;
    background-color:var(--menu-background-color);
    overflow:auto;
}
.UIC-choice-item-top{
    padding:5px;
}
.UIC-choice-item-top *{
    
    line-height:30px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
}
.UIC-group-item-top{
    width:100%;
}

.UIC-group-item-top *{
    line-height:30px;
    height:30px;
    display:inline-block;
}
.UIC-group-item-props{
    font-size:0;
}
.UIC-group-item-top div, .UIC-group-item-props input,.UIC-group-item-props textarea,.UIC-group-item-props select, .UIC-group-item-props span{
    display:inline-block;
    height:30px;
    line-height:30px;
    vertical-align:top;
    font-size:1vw;
    user-select:none;
}
.UIC-group-item-props p{
    display:inline-block;
    line-height:30px;
    vertical-align:top;
    font-size:1vw;
    text-align:left;
    cursor:auto;
    padding:20px;
    padding-top:0;
}
/*COND-EFFECT END*/
/* CHOICE START*/
.UIC-choice-hud {
    width:100%;
    height:30px;
    line-height:30px;
    font-size:0;
    background-color:var(--button-background-color);
    color:var(--button-text-color);
    text-align:center;
}
.UIC-choice-title-cont{
    width:90%;
}
.UIC-choice-title-cont:hover, .UIC-choice-hud .remove-choice-deep:hover{
    cursor:pointer;
    background-color:var(--button-hover-color);
}

.UIC-choice-hud *{
    display:inline-block;
    font-size:1.1vw;
}
.UIC-choice-hud div *{
    display:inline-block;
    
}
.UIC-choice-title{
    width:80%;
}
/* CHOICE END*/
/* SCRIPT ITEM START*/
.UIC-script-hud {
    width:100%;
    height:30px;
    line-height:30px;
    font-size:0;
    background-color:var(--button-background-color);
    color:var(--button-text-color);
    text-align:center;
    border-bottom:1px solid black;
}
.UIC-script-hud *{
    display:inline-block;
    font-size:1.2vw;
}
.UIC-script-hud .UIC-group-minimize:hover, .add-new-script-item:hover{
    cursor:pointer;
    background-color:var(--button-hover-color);
}
.UIC-script-title{
    width:80%;
}
.UIC-script-items{
    border-top:1px solid black;
    background-color:var(--menu-background-color);
}
input[type=checkbox]{
    margin:0;
}
.UIC-group-item{
    cursor:pointer;
}

/* SCRIPT ITEM END*/
.UIC-button{
    background-color:var(--button-background-color);
    color:var(--button-text-color);
    user-select:none;
}
.UIC-button:hover{
    cursor:pointer;
    background-color:var(--button-hover-color); 
}

/* MODULES TEXT START*/
.UIC-text-groups{
    overflow:auto;
}
.UIC-modular-texts{
    border-radius:2px;
    border-top:1px solid black;
}
.UIC-text-handle{
    padding:5px;
}
.UIC-text, .UIC-modular-text{
    padding:5px;
    background-color:var(--menu-background-color);
}
.UIC-text *, .UIC-text-handle *, .UIC-modular-text *{
    display:inline-block;
    font-size:1.2vw;
}
.UIC-text span, .UIC-text-handle span, .UIC-modular-text span{
    text-align:center;
}
.UIC-copy-to-clipboard{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}
.UIC-copy-to-clipboard span{
    display:inline-block;
    line-height:30px;
    font-size:1.2vw;
    text-align:center;
    cursor:pointer;
    background-color:var(--button-background-color);
    color:var(--button-text-color);
    padding-left:2px;
    padding-right:2px;
    border-radius:2px;
}
.UIC-copy-to-clipboard span:hover{
    background-color:var(--button-hover-color);
}

/* MODULES TEXT END*/

/* TOP-BAR START*/
#top-bar{
    top:0;
    width:100%;
    height:60px;
    line-height:60px;
    text-align:center;
    position:fixed;
    z-index:100;
    font-size:0;
    background-color:var(--menu-background-color);
}
.top-bar-itm{
    height:100%;
    font-size:1.5vw;
    color:var(--menu-text-color);
    user-select:none;
    border:1px solid black;
    display:inline-block;
}
.top-bar-itm:hover{
    background-color:var(--menu-button-hover-color);
    cursor:pointer;
}
/* TOP-BAR END */
.add-new-condition, .add-new-effect{
    width:40%;
}
.add-new-script-item, .add-new-text, .add-new-module-cond{
    width:80%;
}
.add-new-text:hover{
    cursor:pointer;
    background-color:var(--button-hover-color);
}
textarea{
    line-height:initial !important;
    min-height:60px;
}
.UIC-container{
    height:auto;
}


.minimize-choice{
    cursor:pointer;
    width:10%;
}
.minimize-choice:hover{
    background-color:var(--button-hover-color);
}

/*Taken from https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has*/
/* one item */
.top-bar-itm:first-child:nth-last-child(1) {
/* -or- li:only-child { */
    width: 100%;
}

/* two items */
.top-bar-itm:first-child:nth-last-child(2),
.top-bar-itm:first-child:nth-last-child(2) ~ .top-bar-itm {
    width: 50%;
}

/* three items */
.top-bar-itm:first-child:nth-last-child(3),
.top-bar-itm:first-child:nth-last-child(3) ~ .top-bar-itm {
    width: 33.3333%;
}

/* four items */
.top-bar-itm:first-child:nth-last-child(4),
.top-bar-itm:first-child:nth-last-child(4) ~ .top-bar-itm {
    width: 25%;
}

/* five items */
.top-bar-itm:first-child:nth-last-child(5),
.top-bar-itm:first-child:nth-last-child(5) ~ .top-bar-itm {
    width: 20%;
}

/* six items */
.top-bar-itm:first-child:nth-last-child(6),
.top-bar-itm:first-child:nth-last-child(6) ~ .top-bar-itm {
    width: 16.6666%;
}

/* seven items */
.top-bar-itm:first-child:nth-last-child(7),
.top-bar-itm:first-child:nth-last-child(7) ~ .top-bar-itm {
    width: 14.2857%;
}

/* eight items */
.top-bar-itm:first-child:nth-last-child(8),
.top-bar-itm:first-child:nth-last-child(8) ~ .top-bar-itm {
    width: 12.5%;
}


/* TOP-BAR END*/

.tenth-width{
    width:10% !important;
}
.sixth-width{
    width:16.6666% !important;
}
.quarter-width{
    width:25% !important;
}
.third-width{
    width:33.3333% !important;
}
.half-width{
    width:50% !important;
}
.sixty-five-width{
    width:65%;
}
.three-quarter-width{
    width:75%; 
}
.eighty-width{
    width:80%;
}
.full-width{
    width:100% !important;
}
.remove-choice-deep{
    cursor:pointer;
    width:10%;
}
.remove-choice-deep:hover{
    background-color:var(--button-hover-color);
}